storage: none
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/zeekoget/api/v3/index.json
framework: auto-detect

nuget AutoMapper
nuget FluentAssertions
nuget FSharp.Control.Reactive
nuget FSharpPlus
nuget FsToolkit.ErrorHandling
nuget Giraffe
nuget Microsoft.AspNetCore.App
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.PlatformAbstractions
nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
nuget MongoDB.Driver.GridFS
nuget SixLabors.ImageSharp >= 1.0.0-beta0004 prerelease
nuget xunit.runner.visualstudio
nuget Xunit.SerializedTheoryData
nuget FsUnit.xUnit
nuget FsUnit
nuget ZeekoUtilsPack.BCLExt
nuget QRCoder