@{ ViewBag.Title = "Too young, Too simple"; }
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.4/css/dx.common.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.4/css/dx.light.css"/>
    <style>
        .grid {
            display: flex;
            margin: 5vw auto;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .form-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 300px;
        }

        .col {
            display: flex;
            flex-flow: column nowrap;
        }

        .btn { flex: 1 0 auto; }
    </style>
</head>

<body>
    <div class="grid">
        <form action="/login" method="POST" class="form-container">
            <div id="form"></div>
            <div id="loginBtn" class="btn"></div>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/17.2.4/js/dx.all.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script>
        let loginModel = {
            userName: '',
            password: ''
        };
        $(() => {
            if('@Html.Raw(ViewBag.Error)') {
                DevExpress.ui.notify('@Html.Raw(ViewBag.Error)', 'error', 3000);
            }
            let form = $('#form').dxForm({
                formData: loginModel,
                validationGroup: 'loginData',
                showValidationSummary: true,
                items: [
                    {
                        itemType: 'group',
                        caption: '现在登录',
                        items: [
                            {
                                dataField: 'userName',
                                label: { text: '用户名' },
                                validationRules: [
                                    {
                                        type: 'required',
                                        message: '用户名是必填项'
                                    }
                                ]
                            }, {
                                dataField: 'password',
                                label: { text: '密码' },
                                editorOptions: {
                                    mode: 'password'
                                },
                                validationRules: [
                                    {
                                        type: 'required',
                                        message: '密码是必填项'
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }).dxForm('instance');
            $('.form-container').on('submit',
                () => {
                    form.updateData('password', window.md5(loginModel.password)); 
                });
            $('#loginBtn').dxButton({
                text: '登录',
                type: 'success',
                useSubmitBehavior: true,
                validationGroup: 'loginData'
            });
        });
    </script>
</body>

</html>